body {
  font-family: "Inter", sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  background-color: #f8f8f8;
}

.bg {
  background-color: rgba(0, 0, 0, 0.13);
}

/* HELPER CLASSES */
.hide {
  display: none;
}
.show {
  display: block;
}

.inter {
  font-family: "Inter", sans-serif;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}
/* HELPER CLASSES END */

/* NAVBAR */
nav {
  background-color: white;
}
.nav__container {
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav_btns {
  display: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-neutral-700);
  font-weight: 500;
}
.nav__links button {
  border-radius: 8px;
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  height: 40px;
  width: calc(100% - 1.5rem);
  color: var(--clr-white);
  border: none;
  max-width: 200px;
}
/* NAVBAR END */

/* HERO SECTION BEGINS */
main {
  padding-block: 2rem;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.socials {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding-inline: 1.3rem;
  border-radius: 100vh;
  background-color: white;
  box-shadow: 0px 3.48px 13.052px 0px rgba(0, 0, 0, 0.05);
  padding-block: 0.8rem;
}
.socials p,
.social-mobile {
  color: #5f6368;
  font-size: 0.75rem;
}

.socials .desktop {
  display: none;
}
.hero-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.hero-title span {
  background: linear-gradient(
    94deg,
    #f9ac9b 5.97%,
    #e66885 24.14%,
    #b735f9 43.81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 1.1rem; */
}
.hero-desc {
  color: #1e1e1e;
}
.hero-btn {
  border-radius: 7.974px;
  height: 40px;
  color: var(--clr-white);
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  border: none;
  max-width: 200px;
  min-width: 170px;
  align-self: center;
}
/* HERO SECTION ENDING */

/* MEDIA QUERIES */

@media (min-width: 780px) {
  .nav__links button {
    width: 150px;
  }

  .hero__container {
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
  }

  .hero-details {
    text-align: left;
  }

  .hero-title {
    font-size: 1.3rem;
    line-height: 1.3;
  }
  .social-mobile {
    display: none;
  }
  .socials .desktop {
    display: inline-block;
  }
  .socials {
    max-width: 430px;
  }
  .hero-img img {
    max-height: 700px;
  }
  .hero-btn {
    align-self: start;
    margin-top: 1rem;
  }
}

@media (min-width: 900px) {
  .hero-title {
    font-size: 3rem;
    line-height: 1.3;
  }
  .hero-desc {
    max-width: 60%;
  }
}

/* MEDIA QUERIES FOR NAVBAR */
@media (max-width: 780px) {
  .nav__links {
    position: fixed;
    /* background-color: gray; */
    background: hsl(0 0% 0% / 0.9);
    z-index: 9;
    inset: 0 0 0 30%;
    padding-top: 6rem;
    align-items: flex-start;
    padding-left: 1.5rem;
    flex-direction: column;
    transform: translateX(100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    transition: all 250ms ease-in-out;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .nav__links {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }

  .show-nav {
    transform: translateX(0);
  }
  .nav_btns {
    display: flex;
    position: fixed;
    right: 3%;
    z-index: 900;
  }
  .nav_btns img {
    height: 34px;
    cursor: pointer;
  }
  /* .nav_btns img:nth-child(2) {
    display: none;
  } */
}
/* MEDIA QUERIES FOR NAVBAR ENDING */
